#----------------------------------------#
# Gitignore file                         #
# WarTanks NetBeans project              #
#----------------------------------------#

# Compilation folder #
######################

# WarTanks #
/WarTanks/build/
/WarTanks/dist/
/WarTanks/nbproject/private/
# Protection contre la modification de la configuration du projet
/WarTanks/nbproject/

# WarTanksGUI #
/WarTanksGUI/build/
/WarTanksGUI/dist/
/WarTanksGUI/nbproject/private/
# Protection contre la modification de la configuration du projet
/WarTanksGUI/nbproject/

# ClientServer #
/ClientServer/build/
/ClientServer/dist/
/ClientServer/nbproject/private/
# Protection contre la modification de la configuration du projet
/ClientServer/nbproject/

# KryoNet_test #
/KryoNet_test/build/
/KryoNet_test/dist/
/KryoNet_test/nbproject/private/

# LWJGL_test #
/LWJGL_test/build/
/LWJGL_test/dist/
/LWJGL_test/nbproject/private/

# NavalBattle #
/NavalBattle/build/
/NavalBattle/dist/
/NavalBattle/nbproject/private/

# Fichiers de config des projets NetBeans #
#nbproject/build-impl.xml
#nbproject/project.xml
#nbproject/genfiles.properties
#nbproject/project.properties


# Compiled source #
###################
*.class


# Package Files #
#################
#*.jar
*.war
*.ear


# Backup files #
################
*.bak
*~


# Log files #
#############
*.log


# Other files #
###############

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OS generated files #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
desktop.ini
Thumbs.db

# Microsoft Office tmp files #
~*.docx
~*.pptx
~*.vsdx
~*.xlsx

*.~docx
*.~pptx
*.~vsdx
*.~xlsx

~*.doc
~*.ppt
~*.vsd
~*.xls

~*.tmp

# Auto add #
############
